.text-indent{
    text-indent:0.25rem;
}
.Install{
    padding:.2rem;
    box-sizing: border-box;
}
.Install .demo{
    width: 100%;
    border: 0.01rem solid #e0e5e6;
    background-color: #f6f8f8;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
}